       /* Add your styles here */

/* styles.css */
/* universal selector - Applies to whole document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
body {
    font-family: "Times New Romans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: linear-gradient(75deg, navy, yellow);
    color: black;
}
header{
    flex: 1;
    margin-bottom: 50px;
}
.nav-container {
    display: flex;
    width: 100%;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #555;
}

main {flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
    margin-top: 50px;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    
}
h3 {
  flex: 1;
}
/* Title of the game */
.title{
    flex: 1;
    margin-top: 1px;
    margin-right: 20px; 
    position: absolute;
    text-align:center;
    top: 0;
    font-size: 1rem;
    z-index: 2;
    right: 0;
}
section {
flex: 1;
margin-top: "40px";
color: blue;
}
div .display-container {
          width: 90%;
          margin-left: 10px;
          }
      div .display-container .box1 {
           flex: 1;
           background-color: orangered;
           width: 100px;
           height: 695px;
           left: 0;
             }
      div #demopara {
     display: inline-block;
     position: relative;
     float: left;
     background-color: orangered;
     width: 45%;
     height: 505px;
     margin-left: 20px;
     padding: 15px;
  }
      #demo, #result {
    background-color: white;
    color: black;
    width: 140px;
    height: 80;
    padding: 8px;
    margin-bottom: 15px;
          }
  #display, #display1 {
    background-color: white;
    color: black;
    width: 140px;
    height: 90;
    padding: 8px;
  }
     div .display-container .box2 {
           flex: 1;
           background-color: orangered;
           width: auto;
           height: 695px;
           margin-left: 1px;
           left: 0;
             } 
 div #demopara2 {
    display: inline-block;
    position: absolute;
    float: left;
    background-color: orangered;
    width: 45%;
    height: 505px;
    padding:15px;
    margin: 0;
    
  }
  #display5, #display6, #demo5, #finalResult {
    background-color: white;
    color: black;
    width: 100px;
    height: 50px;
    padding: 8px;
  }
      #btn1 {
    position: absolute;
    margin-top: 505px;
          margin-left: -40px;
    padding: 12px;
    width: 155px;
    height: 45px;
    color: blue;
    background-color: orangered;
    border: 1px solid blue;
    border-radius: 4px;
      }
      
      @media only screen and (min-width: 401px) {
          body {
              background-color: orangered;
              width: 100vw;
              height: 100vh;
      }
        /*div .display-container {
          margin: auto;
          padding: auto;
          width: 90vw;
          height: 550px;
          }
          #demopara {
    display: inline-block;
    position: relative;
    float: left;
    background-color: aqua;
    width: 40vw;
    height: 550px;
    margin-left: 5px;
    padding: 10px;
  }
  #display, #display1, #demo, #demo1 {
    background-color: white;
    color: black;
    width: 170px;
    height: 70px;
    padding: 8px;
  }
      #demopara2 {
    display: inline-block;
    position: relative;
    float: left;
    background-color: aqua;
    width: 40vw;
    height: 550px;
    margin-left: 5px;
    padding: 10px;
  }
  #display3, #display4, #demo3, #demo4 {
    background-color: white;
    color: black;
    width: 170px;
    height: 70px;
    padding: 8px;
  }
          */
         div .display-container {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
              flex-wrap: wrap;
              gap: 1px;
              width: 70vw;
              height: 695px;
                     }
         div .display-container .box1 {
           flex: 1;
           background-color: orangered;
           width: auto;
           height: 695px;
           left: 0;
             }
          div #demopara {
              background-color: orangered;
              }
            
             #display, #display1, #demo, #result {
                background-color: white;
                color: black;
                width: 170px;
                height: 70px;
                padding: 8px;
               
          }
         div .display-container .box2 {
           flex: 1;
           background-color: orangered;
           width: auto;
           height: 600px;
              right: 0;
                    
          }
          div #demopara2 {
              background-color: orangered;
              }
      #display5, #display6, #demo5, #finalResult {
    background-color: white;
    color: black;
    width: 170px;
    height: 70px;
    padding: 8px;
  }
      #btn1 {
    position: absolute;
    margin: 515px -140px;
    width: 155px;
    height: 45px;
    color: blue;
    background-color: orangered;
    border: 1px solid blue;
    border-radius: 4px;
          }
     /* Responsive Design */
@media screen and (max-width: 400px) {
        .title{
    flex: 1;
    margin-top: 70px;
    position: absolute;
    top: 0;
    font-size: 3rem;
    z-index: 2;
}
}
footer {
    margin-top: 100px;
   
}


